<h1> Your Lists</h1>
<div>
<ul>
  <% @lists.each do |list| %>
    <li style="background-image: url('<%= cl_image_path list.photo.key, height: 300, width: 150, crop: :fill %>');"><%= link_to list.name, list_path(list) %> </li>

    <% end %>
</ul>
</div>

<%= link_to 'CREATE A LIST', new_list_path  %>

<ul class="list-group">
  <% @lists.each do |list| %>
    <li class="list-group-item"><%= list.name %></li>
     <%= link_to 'delete this list', list_path(list), method: :delete, class: 'btn btn-cancel', data: { confirm: 'Are you sure you want to delete this list?' } %>
    <% end %>
</ul>


